<div>
	<div class="col-md-12" style="text-align: center">
		<p>
			<strong><%= @entries.title %></strong>
		</p>

		<p>
			<%= @entries.writing %>
		</p>
		<%= link_to 'Back', entries_path %>
	</div>
</div>